name: Build and deploy ASP.Net Core app to Azure Web App - taskboardanton

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore TaskBoard.WebApp/TaskBoard.WebApp.csproj

      - name: Build
        run: dotnet build TaskBoard.WebApp/TaskBoard.WebApp.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish TaskBoard.WebApp/TaskBoard.WebApp.csproj --configuration Release --output ./publish --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: publish
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: publish
          path: ./publish  # put artifact here

      - name: List files for sanity check
        run: ls -R ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D918565D54E743838235D0C38F8F5824 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D71D35F9CA3F4A1691EEA0DAF58B5D9E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A3CB6E472B634AFD83707C30D2AC1F6E }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'taskboardanton'
          slot-name: 'Production'
          package: ./publish
